<script type="text/javascript">
(function(p,u,s,h){
    p._pcq=p._pcq||[];
    p._pcq.push(['_currentTime',Date.now()]);
    s=u.createElement('script');
    s.type='text/javascript';
    s.async=true;
    s.src='https://cdn.pushcrew.com/js/9634d1ebd1a42356813c102378a81198.js';
    h=u.getElementsByTagName('script')[0];
    h.parentNode.insertBefore(s,h);        
})(window,document);
</script>
<div style="text-align: center; width: 100%">        
<form method="post">
  <p>Instagram User Name to Stalk:</p>
  <input type="hidden" name="token" value="{{token}}">
  <input type="hidden" name="pcUserId" id="pcUserId">
  <input type="text" name="username" value=""><br><br>
  <input type="submit" value="Submit" onClick="javascript:document.getElementById('pcUserId').value = pushcrew.subscriberId; return true;">
</form>
</div>